body {
  margin: 0;
  overflow: hidden;
}

.videoTag {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.videoGradient {
  background: linear-gradient(to bottom, transparent 40%, #212121);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.loginBox {
  min-width: 350px;
  background: rgba(255, 255, 255, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 40px 30px;
}

